body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #004080;
  color: white;
  padding: 20px;
  text-align: center;
}

header nav a {
  color: #cce6ff;
  text-decoration: none;
  margin: 0 10px;
}

main {
  padding: 40px;
}

footer {
  background-color: #222;
  color: #ccc;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
}

 .center-text {
      text-align: center;
      margin-top: 50px;
    }

.accent-rtm {
      font-size: 1.2em;
      color: rgb(20, 123, 220);
      font-weight: bold;
      vertical-align: super;
    }
